/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body
  background-color: #ECF0F1
  color: #2C3E50
  
hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #2C3E50
  margin: 1em 0
  padding: 0

.header
  background-color:  black
  opacity: 0.4
  text-align: center
  height: 40px
  margin-bottom: 3px
  padding-top: 10px
  
  a
    color: white

.logo
  width: 150px
  display: block
  margin: 0 auto
  
.main-form
  width: 70%
  display: block
  margin: 0 auto
  margin-top: 30px
  
.right
  float: right
  margin-left: 10px
  margin-bottom: 20px
  